.hiring{
    
    &__content{
        display: flex;
        flex-direction: column;
        background-color: $color-light-black;
    }

    &__heading{
        margin: 1rem;
        font-size: 2rem;
        text-align: center;

        @include respond(screen240){
            font-size: 2.4rem;
        }

        @include respond(screen320){
            font-size: 2.6rem;
        }

        @include respond(screen360){
            font-size: 3rem;
        }
    }

    &__sub-heading{
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    &__cta{
        width: 80%;
        align-self: center;
        margin: 2rem;
        padding: 1rem 2rem;
    }

    width: 85%;
    padding: 2.5rem 0 ;
    position: absolute;
    left: 50%;
    bottom: -145px;
    transform: translateX(-50%);

    @include respond(screen240){
     bottom: -170px;
     padding: 0 0 5.5rem 0 ;
    }

    @include respond(screen320){
        bottom: -180px;
        padding: 0 0 6rem 0;
        width: 75%;
    }

    @include respond(screen360){
        bottom: -195px;
        padding: 0 0 8rem 0 ;
        width: 70%;
    }
}