.testimonials {
    
    &__list-container{
        
    }
    
    &-list {
        
        display: grid;
        grid-template-rows: repeat(3, minmax(min-content, max-content));

        &__item{
            list-style: none;
            padding: 1.5rem;

            @include respond(screen320){
                padding: 2rem 4rem;
            }

            @include respond(screen360){
                padding: 2rem 6rem;
            }

            @include respond(screen480){
                padding: 2rem 8rem;
            }
        }
    }

}

.testimonial-card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-black;
    padding: 3rem;

    &__header{
        margin-bottom: 1rem;
    }

    &__image{
        width: 8rem;

        @include respond(screen320){
            width: 10rem;
        }

        @include respond(screen360){
            width: 12rem;
        }

        @include respond(screen480){
            width: 14rem;
        }

        @include respond(screen640){
            width: 16rem;
        }
    }

    &__content{
        margin: 1.5rem 0 1.8rem;

        @include respond(screen320){
            margin: 1.8rem 0 2.4rem;
        }

        @include respond(screen360){
            margin: 2.2rem 0 2.6rem;
        }

        @include respond(screen480){
            margin: 2.6rem 0 3rem;
        }

        @include respond(screen640){
            margin: 2.8rem 0 3.5rem;
        }
    }

    &__text{
        font-size: 1.2rem;
        text-align: center;

        @include respond(screen320){
            font-size: 1.6rem;
        }

        @include respond(screen360){
            font-size: 2rem;
        }

        @include respond(screen480){
            font-size: 2.2rem;
        }

        @include respond(screen640){
            font-size: 2.4rem;
        }
    }

    &__footer{
        text-align: center;    
    }

    &__author{

        @include respond(screen320){
            font-size: 1.3rem;
        }

        @include respond(screen360){
            font-size: 1.6rem;
        }

        @include respond(screen480){
            font-size: 1.8rem;
        }

        @include respond(screen640){
            font-size: 2rem;
        }

    }

    &__designation{

        @include respond(screen320){
            font-size: 1.3rem;
        }

        @include respond(screen360){
            font-size: 1.6rem;
        }

        @include respond(screen480){
            font-size: 1.8rem;
        }

    }

}