// COLOR VARIABLES
$color-black:#040000;
$color-light-black:#534d4d;
$color-lighter-black: #8e8585;

// Primary Colors
$dark-blue-primary-1: #1c2431; // intro and email sign up background
$dark-blue-primary-2: #181f2a; // main background
$dark-blue-primary-3: #0b1523; // footer background
$dark-blue-primary-4: #202a3c; // testimonials background

// Accent
$cyan : hsl(176, 68%, 64%); // inside call-to-action gradient
$blue : hsl(198, 60%, 50%); // inside call-to-action gradient
$light-red: hsl(0, 100%, 63%); // error

// Neutral
$color-white: hsl(0, 0%, 100%); // white 

$primary-light: #00C8CE;
$primary-dark: #009aa0;
$button-primary: #01a0a5;

// Font sizes
$default-font-size: 1.6rem;

// FONT VARIABLES
$font-head: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;