// COLOR VARIABLES
$color-white:#fff;
$color-black:#040000;
$color-light-black:#222020;

$primary-light: #00C8CE;
$primary-dark: #009aa0;
$button-primary: #01a0a5;

// Font sizes
$default-font-size: 1.6rem;

// FONT VARIABLES
$font-head: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;